<div class="wrapper">
  <h2>Регистрация пользователя</h2>

  <form class="form">
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Фамилия</mat-label>
      <input
        type="text"
        matInput
        [(ngModel)]="user.surname"
        name="surname"
        required
        #surname="ngModel"
      >
      <mat-error>Введите фамилию</mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Имя</mat-label>
      <input
        type="text"
        matInput
        [(ngModel)]="user.name"
        name="name"
        required
        #name="ngModel"
      >
      <mat-error>Введите имя</mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Отчество</mat-label>
      <input
        type="text"
        matInput
        [(ngModel)]="user.patronymic"
        name="patronymic"
        required
        #patronymic="ngModel"
      >
      <mat-error>Введите отчество</mat-error>
    </mat-form-field>

    <button
      type="submit"
      mat-raised-button
      color="primary"
      (click)="formSubmit()"
      [disabled]="!((!surname.invalid && surname.dirty) && (!name.invalid && name.dirty) && (!patronymic.invalid && patronymic.dirty))"
    >
      Вперёд!
    </button>

  </form>
</div>
